.hidden-row{
    display: none;
}




.coin-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.coin-table th, .coin-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.coin-table th {
    background-color: #f2f2f2;
}

.coin-item {
    background-color: #fff;
}

.coin-item:hover {
    background-color: #f9f9f9;
}

.favorite-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.favorite-item button {
    background-color: #dc3545; /* Red color for remove button */
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}

.favorite-item button:hover {
    background-color: hsl(354, 70%, 46%); /* Darker red color on hover */
}

.favorite-coins-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.favorite-coins-table th, .favorite-coins-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.favorite-coins-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.remove-favorite-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-favorite-btn:hover {
    background-color: #c82333;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }