*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #F8F9FA;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1E293B;
    color: #35A226;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.subHeadings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.subHeadings h2 {
    margin: 0;
}

.subHeadings button {
    background-color: #35A226;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
}

.subHeadings button:hover {
    background-color: #2a7d1f;
}

.searchCoins{
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 10px;
    margin-bottom: 20px;
}

.searchCoins:hover {
    background-color: #0056b3;
}

.searchBar{
    display: flex;
}

#myInput, #myInputStar {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
}

.all-coin-table, .star-coins-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.all-coin-table th, .all-coin-table td, .star-coins-table th, .star-coins-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.all-coin-table th, .star-coins-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    cursor: pointer;
}

.coin-item, .star-coin-item {
    border-bottom: 1px solid #ddd;
}

.coin-item:hover, .favorite-item:hover {
    background-color: #f9f9f9;
}

.favorite-item button {
    background-color: #dc3545;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}

.favorite-item button:hover {
    background-color: #c82333;
}

.hidden-row {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 1rem;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#star-coins-data {
    max-height: 25rem; /* Adjust the height as needed */
    overflow-y: auto;
    overflow-x: auto;
}
#all-coins-data{
    max-height: 34rem;
    overflow: auto;
}

#view-more-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    margin: 20px auto;
}

#view-more-btn:hover {
    background-color: #0056b3;
}

#pagination-controls {
    text-align: center;
    margin-top: 20px;
}

#pagination-controls button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
}

#pagination-controls button:disabled {
    cursor: not-allowed;
    color: #ccc;
}

#pagination-controls span {
    margin: 0 10px;
}

#pagination-controls button:hover:not(:disabled) {
    color: #007bff;
}

.star-btn {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #dc3545;
    cursor: pointer;
}

.star-btn.filled {
    color: #ffc107; /* Filled star color */
}

.star-btn.empty {
    color: #ccc; /* Empty star color */
}

.coin-image {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

.modal-coin-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.details-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
}

.details-btn i {
    color: #000;
}

.details-btn:hover i {
    color: #007bff;
}

/* Tooltip container */
.info-icon {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    color: #000; /* Black color to make the icon stand out */
}

/* Tooltip text */
.tooltip-text {
    visibility: hidden;
    width: 300px; /* Adjust width as needed */
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the icon */
    left: 50%;
    margin-left: -150px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%; /* Arrow at the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.info-icon:hover {
    color: #007bff;
}

/* Show the tooltip text when hovering over the info icon */
.info-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content canvas {
    display: block;
    margin: 20px auto;
}

#coinChartContainer {
    flex: 1;
    padding: 2rem;
    min-width: 38rem;
}

canvas {
    width: 100%;
    max-height: 400px;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    z-index: 999; /* Make sure it's above other content */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.all-coin-table {
    min-width: 50rem;
}

.superscript {
    position: relative;
    display: inline-block;
}

.superscript .info-icon {
    position: absolute;
    top: -0.5em; /* Adjust this value as needed */
    font-size: 0.75em; /* Adjust size as needed */
    cursor: pointer;
}

.price {
    display: flex;
    margin-bottom: 2rem;
}

.market-cap {
    padding-left: 0.5rem;
}

.modal-body {
    max-height: 40rem;
    overflow-y: auto;
    display: flex;
    flex-direction: row; /* Ensure row layout by default */
}

.details-content {
    min-width: 15rem;
}

.chart-controls {
    background-color: grey;
    text-align: center;
}

.updateChart {
    background: none;
    border: none;
    margin-right: 0.5rem;
}
.updateChart:hover {
    cursor: pointer;
    color:lightgray;
}

@media screen and (max-width: 768px) {
    .modal-body {
        flex-direction: column;
    }
    #coinChartContainer {
        padding: 1rem;
        width: 100%; /* Ensure the chart container takes full width */
        max-height: 400px; /* Limit the height to avoid huge height */
    }
    canvas {
        width: 100%;
        height: 100%; /* Ensure the canvas scales properly */
    }
}
