@font-face {
    font-family: 'Agenda';
    src: url('https://drive.google.com/uc?export=download&id=1YhPJ06LDsjNY98j9f6MQhjLJ7YxPxl2o') format('opentype');
}

@font-face {
    font-family: Libre Baskerville;
    src: url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
}
