:root {
    --pg10-11-redColor: #ED1A33 ;
    --pg10-11-whiteColor: #FFFFFF;
    --pg10-11-rBoxHexagonColor: #3FC1C9;
    --pg10-11-lHeaderHRColor: #BFE5E9;
    --pg10-11-circleShadowColor: #C40F1F;
    --pg10-11-blueColor: #42C2C9;
    --pg10-11-rightPageBoxColor: #E3F4F5;


    --page10-11-agendaSize10: 0.68rem;
}
@font-face {
    font-family: 'Agenda';
    src: url('https://drive.google.com/uc?export=download&id=1YhPJ06LDsjNY98j9f6MQhjLJ7YxPxl2o') format('opentype');
}  


*{
    margin: 0;
    padding: 0;
    font-family: 'Agenda', serif;
}

.pages{
    display: flex;
    align-items: center;
}

.page{
    width: 50%;
}

.pagesMain{
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}


.pageSection{
    width: 50%;
    margin-left: 27px;
    margin-right: 53px;
}

#headerFull{
    background-color: var(--pg10-11-redColor);
    color: var(--pg10-11-whiteColor);
    height: 70px;
}


#lHeader{
    display:flex;
    align-items: center;
}

#lHeaderLeft{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: var(--pg10-11-redColor);
    align-items:center;
    text-align: center;
    display: flex;
    justify-content:flex-end;
    z-index: 2;
}

#lHeaderRight{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#lHeaderRightTitle{
    font-weight: bold;
    font-size: 1.2rem;
}

#lHeaderLeftDiv{
    text-align: center;
    padding: 15px 20px 0px 0px;
    font-size: 0.7rem;
}

#lHeaderLeftHR{
    color: var(--pg10-11-lHeaderHRColor);
}

#lHeaderChapterNo{
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Libre Baskerville' serif;
}

.mainSent{
    font-weight: bold;
    padding-right: 48px;
    font-size: 0.68rem;
}

.sentStart{
    color: var(--pg10-11-redColor);
}

ol.numbers{
    padding-left: 34px;
    margin-bottom: 20px;
    margin-top: 10px;
    flex:1;
    
}

ol li::marker{
    font-weight: bold;
}

.redCheckBox{
    border-color: var(--pg10-11-redColor);
    border-width: 1px;
    border-style: solid;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 8px;
    margin-left: 1%;
}

.centerListItems{
    vertical-align: middle;
}

ol[type = "a"].withoutPeriod{
    counter-reset: item;
    list-style-type: none;
    padding-left: 17px;
    margin-bottom: 20px;
    margin-top: 10px;
    flex:1
  }

li.withoutPeriod{
    display: flex;
    
}

li.withoutPeriod::before {
    content: counter(item, lower-alpha);
    counter-increment: item;
    color: var(--pg10-11-redColor);
    font-weight: bold;
    display: block;
    text-align: center;
    height: 20px;
    width: 20px;
    padding-right: 0.5em;
}
/* div.withoutPeriod{
    display: inline-flex;
} */

.dottedLine {
    display: inline-block;
    border-style: dotted;
    border-width: 1px;
    width: 100%;
    height: 0;
}

li.dottedLineLi{
    padding-right: 48px;
}

.rightPageGrammer{
    display: flex;
    justify-content: start;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: normal;
}

.flexible{
    flex:1
}

#rightPageBox{
    background-color: var(--pg10-11-rightPageBoxColor);
    padding: 8px 15px 15px 7px;
    clip-path: polygon( 3% 0%, 97% 0%, 100% 5%, 100% 95%, 97% 100%, 3% 100%, 0% 95%, 0% 5%);
}

.redColorTexts{
    color: var(--pg10-11-redColor);
    font-size: large;
    margin-left: 8px;
}
.blueColorTexts{
    color: var(--pg10-11-blueColor);
    font-style: italic;
    font-weight: bold;
}

.blueDottedLine {
    position: relative;
    height: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.blueDottedLine::before {
    content: "";
    display: block;
    height: 2px; /* height of the pseudo-element */
    background: repeating-linear-gradient(
        to right,
        var(--pg10-11-blueColor),
        var(--pg10-11-blueColor) 2px, 
        transparent 1px,
        transparent 5px 
    );
    width: 100%; /* full width of the parent element */
}


.redBulletRightPoints{
    font-weight: bold;
    margin-bottom: 8px ;
    margin-top: 8px;
    display: flex;

}

.red-bullets{
    color:var(--pg10-11-redColor);
}
#boldWords{
    font-weight: bold;
}


.hexagon {
    height: 20px;
    width: 80px;
    background-color:var(--pg10-11-rBoxHexagonColor);
    clip-path: polygon(
        5% 0%, 95% 0%, 
        100% 50%, 
        95% 100%, 5% 100%, 
        0% 50% 
    );
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    color: var(--pg10-11-whiteColor);
    position: relative;
}

.redColorWords{
    color: var(--pg10-11-redColor);
    font-style:italic;
    font-weight:bolder;
}

#beCarefulText{
    font-weight: bold;
    font-size:14px;
    color: var(--pg10-11-whiteColor);
    padding-right: 8px;
}

.rightBoxMargin{
    margin-left: 8px;
}


.rightBoxRedBulletDiv{
    display: inline-block;
    margin-left: 6px;
}

.olNumbersDiv{
    display: inline-block;
    flex:1;
}

.olNumbersOuterDiv{
    display: flex;
}

#lastWords{
    margin-left: 10px;
    margin-top: 8px;
    padding-top: 12px;
    
}

.lastRightPoint{
    font-weight: bold;
    margin-bottom: 8px ;
    margin-top: 8px;
    display: inline;
}

.innerdiv { 
    position: absolute; 
    top: 0; 
    left: 10px; 
}

.outerdiv{
    position: relative;
}

.circleShadow{
    position: absolute;
    background-color: var(--pg10-11-circleShadowColor);
    height: 70px;
    width: 50px;
    left: 60px;
    top: 0;;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 20%;
    z-index: 1;
}


@media (max-width: 600px) {
    .pages {
        flex-direction: column;
    }

    .page {
        width: 100%;
    }

    .pagesMain {
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10%;
    }

    .pageSection {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
    .rightPageGrammer{
        flex-direction: column;
    }

}