:root {
    --pg10-11-redColor: #ED1A33 ;
    --pg10-11-whiteColor: #FFFFFF;
    --pg10-11-rBoxHexagonColor: #3FC1C9;
    --pg10-11-lHeaderHRColor: #BFE5E9;
    --pg10-11-circleShadowColor: #C40F1F;
    --pg10-11-blueColor: #42C2C9;
    --pg10-11-rightPageBoxColor: #E3F4F5;
    --page-border-color: rgba(220, 220, 220); ;

}

*{
    margin: 0;
    padding: 0;
    font-family: 'Agenda';
   
}

.container{
    max-width: 85rem;
    margin: auto;
}

#fullHeader{
    position: relative;
    background-color: var(--pg10-11-redColor);
    color: var(--pg10-11-whiteColor);
    height: 4.5rem;
}

.pagesHeader{
    display: flex;
    align-items: center;
}

.pageHeader{
    width: 50%;
}

#lHeader{
    display:flex;
    align-items: center;
}

#lHeaderLeft{
    border-radius: 50%;
    width: 6.25rem;
    height: 6.25rem;
    background-color: var(--pg10-11-redColor);
    align-items:center;
    text-align: center;
    display: flex;
    justify-content:flex-end;
    z-index: 2;
    left: 0;
}

#lHeaderLeftContent{
    text-align: center;
    padding: 1rem 1.5rem 0 0;
}

#lHeaderChapterNo{
    font-weight: bold;
    font-family: 'Libre Baskerville';
    border-top: 3px solid var(--pg10-11-lHeaderHRColor);
    margin-top: 2px;
}


#circleShadow{
    position: absolute;
    background-color: var(--pg10-11-circleShadowColor);
    height: 4.5rem;
    width: 3rem;
    left: 4rem;
    top: 0;;
    border-top-right-radius: 65%;
    border-bottom-right-radius: 30%;
    z-index: 1;
}

#lHeaderRight{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#lHeaderRightTitle{
    font-weight: bold;
}


.pagesBody{
    display: flex;
    justify-content: space-between;
}

.page66 {
    width: 100%;
}

.page66 .pageSection {
    padding: 4rem 8rem 0 2.5rem; 
}

.page67 {
    width: 100%;
    
}

.page67 .pageSection {
    padding: 4rem 4rem 0 2.5rem; 
}


.page66 .mainSent{
    font-weight: bold;
}

.page66 .sentStart{
    color: var(--pg10-11-redColor);
}


.page67 .mainSent{
    font-weight: bold;
}

.page67 .sentStart{
    color: var(--pg10-11-redColor);
}

.page66 ol.numbers{
    padding-left: 2rem;
    margin-bottom: 1.25rem;
    margin-top: 0.6rem;
    flex:1;
    
}

.page66 .redCheckBox{
    border-color: var(--pg10-11-redColor);
    border-width: 1px;
    border-style: solid;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    align-self: center;
}



.page67 ol.numbers{
    padding-left: 2rem;
    margin-bottom: 0.25rem;
    margin-top: 0.6rem;
    flex:1;
    
}

.page67 .redCheckBox{
    border-color: var(--pg10-11-redColor);
    border-width: 1px;
    border-style: solid;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 1%;
    align-self: center;
}


ol li::marker{
    font-weight: bold;
}

.page66 ol.withoutPeriod{
    counter-reset: item;
    list-style-type: none;
    padding-left: 1rem;
    margin-bottom: 1.25rem;
    margin-top: 0.6rem;
    flex:1
}
.page67 ol.withoutPeriod{
    counter-reset: item;
    list-style-type: none;
    padding-left: 1rem;
    margin-bottom: 0.25rem;
    margin-top: 0.6rem;
    flex:1
}

li.withoutPeriod{
    display: flex;
    
}

li.withoutPeriod::before {
    content: counter(item, lower-alpha);
    counter-increment: item;
    color: var(--pg10-11-redColor);
    font-weight: bold;
    display: block;
    text-align: center;
    height: 1rem;
    width: 1rem;
    margin-right: 0.3rem;
    flex-shrink: 0;
}

.dottedLine {
    display: inline-block;
    border-style: dotted;
    border-width: 1px;
    width: 100%;
    height: 0;
}

.page67 .rightPageGrammer{
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
}

.flexible{
    width: 50%
}

#rightPageBox{
    background-color: var(--pg10-11-rightPageBoxColor);
    padding: 0.5rem 1rem 1rem 0.5rem;
    clip-path: polygon( 3% 0%, 97% 0%, 100% 5%, 100% 95%, 97% 100%, 3% 100%, 0% 95%, 0% 5%);
}

.redColorTexts{
    color: var(--pg10-11-redColor);
    margin-left: 0.5rem;
}
.page67 .blueColorTexts{
    color: var(--pg10-11-blueColor);
    font-style: italic;
    font-weight: bold;
}

.page67 .blueDottedLine {
    position: relative;
    height: 0px;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.page67 .blueDottedLine::before {
    content: "";
    display: block;
    height: 2px;
    background: repeating-linear-gradient(
        to right,
        var(--pg10-11-blueColor),
        var(--pg10-11-blueColor) 2px, 
        transparent 1px,
        transparent 5px 
    );
    width: 100%;
}

.page67 .redBulletRightPoints{
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    display: flex;

}

.page67 .red-bullets{
    color:var(--pg10-11-redColor);
}
.page67 .boldWords{
    font-weight: bold;
}


.page67 .hexagon {
    height: 1.25em;
    width: 5.5em;
    background-color:var(--pg10-11-rBoxHexagonColor);
    clip-path: polygon(
        5% 0%, 95% 0%, 
        100% 50%, 
        95% 100%, 5% 100%, 
        0% 50% 
    );
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    color: var(--pg10-11-whiteColor);
    position: relative;
    margin-left: -0.5rem;
}

.page67 .redColorItalicWords{
    color: var(--pg10-11-redColor);
    font-style:italic;
    font-weight:bolder;
}

.page67 #insideHexagonText{
    font-weight: bold;
    color: var(--pg10-11-whiteColor);
    padding-left: 4px;
}

.page67 .rightBoxMargin{
    margin-left: 0.5rem;
}


.page67 .rightBoxRedBulletDiv{
    display: inline-block;
    margin-left: 0.5rem;
}

 .olNumbersDiv{
    display: inline-block;
    flex:1;
} 

.olNumbersOuterDiv{
    display: flex;
    margin-bottom: 0.25rem;
}

.page67 #lastWords{
    margin-left: 0.8rem;
    
}

.innerdiv {  
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.page67 .paddingLast{
    padding-right: 2rem;
}

.blueLine {
    bottom: 0;
    left: 0;
    width: 4rem; /* Width of the blue line */
    height: 2px; /* Thickness of the blue line */
    background-color:var(--pg10-11-lHeaderHRColor); /* Blue color */
    margin-bottom: 0.75rem;
}

@media only screen and (max-width: 576px) {
    .pagesBody{
        flex-direction: column;
    }
    .pagesHeader {
        flex-direction: column;
    }

    .pageHeader {
        width: 100%;
    }

    .page66 .pageSection{
        padding: 3rem 1.5rem 0 1.5rem;
    }

    .page67 .pageSection{
        padding: 3rem 1.5rem 0 1.5rem;
    }

    .page67 #secondPoint{
        flex-direction: column;
    }
    

    .page67 #lastWords{
        margin-left: 0.8rem;
        
    }
    #lHeaderRightTitle {
        font-size: 1rem;
        text-align: center;
        padding: 0.5rem;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .pagesBody{
        flex-direction: column;
    }
    .pagesHeader {
        flex-direction: column;
    }

    .pageHeader {
        width: 100%;
    }

    .page66 .pageSection{
        padding: 3rem 1.5rem 0 1.5rem;
    }

    .page67 .pageSection{
        padding: 3rem 1.5rem 0 1.5rem;
    }

    #lastWords{
        margin-left: 0.8rem;
        
    }

    
}

@media only screen and (min-width: 769px) and (max-width:992px) {
    .pagesHeader {
        flex-direction: column;
    }

    .pageHeader {
        width: 100%;
    }
    .pagesBody{
        flex-direction: column;
    }
    
    .page67 .hexagon {
        width: 5em;
    }
    .olNumbersOuterDiv{
        margin-bottom: 0rem;
    }
}

@media only screen and (min-width: 993px) {

    /* style for adding border */
    .container {
       border-left: 1px solid var(--page-border-color);
       border-right: 1px solid var(--page-border-color);
    }
  
    main article:nth-of-type(1){
       border-right: 1px solid var(--page-border-color);
    }
      
    main article:nth-of-type(2){
       border-left: 1px solid var(--page-border-color);
    }
  }
  
  
  @media only screen and (max-width: 992px) {
  
    /* style for adding border on second article */
    main article:nth-of-type(2){
       border-top: 2px solid var(--page-border-color);
       /* padding-top: 24px; */
    }

    .rightHeader{
        height: 4.5rem;
        background-color: var(--pg10-11-redColor);
    }
  }
  